
.profileThumb {
  min-width: 50px;
}

.iconStyling {
  font-size: 1.25rem;
  cursor: pointer;
}

.desktopWidth {
  max-width: 1024px;
  margin: auto;
}

.replyDisplay {
  background-color: rgb(250,250,250);
}

.fixedMenuFix {
  margin-top: 4em
}

.btn-post { 
  -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: 100px;
    background-color: #00aced;
    border-radius: 28px;
    border: 1px solid #0084b4;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #00aced;
    margin-top: 10px;
}

.btn-post:hover { 
  background-color: #0084b4;
}

.btn-post:active { 
  position: relative;
  top: 1px;
}

.btn-red { 
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
width: 100px;
background-color: red;
border-radius: 28px;
border: 1px solid crimson;
cursor: pointer;
color: #ffffff;
font-size: 14px;
padding: 8px 8px;
text-decoration: none;
text-shadow: 0px 1px 0px red;
margin-right: 4px;
}

.btn-red:hover { 
  background-color: crimson;
}

.btn-red:active { 
  position: relative;
  top: 1px;
}

.btn-red:focus { 
    background-color: crimson;
}

.btn-green { 
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
  width: 100px;
  background-color: green;
  border-radius: 28px;
  border: 1px solid darkgreen;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px green;
  margin-right: 4px;
  }
  
  .btn-green:hover { 
    background-color: darkgreen;
  }
  
  .btn-green:active { 
    position: relative;
    top: 1px;
  }
  
  .btn-green:focus { 
      background-color: darkgreen;
  }

.btn-reply { 
  -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: 100px;
    background-color: gold;
    border-radius: 28px;
    border: 1px solid goldenrod;
    cursor:pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px gold;
}

.btn-reply:hover { 
    background-color: goldenrod;
}

.btn-reply:active { 
    position: relative;
    top: 1px;
}

.btn-post-reply { 
    margin-left: 5px;
    background-color: gold;
    border-radius: 20px;
    border: 1px solid goldenrod;
    cursor:pointer;
    color:white;
    font-size: 14px;
    padding: 8px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px gold; 
}
